$main-color: #b0b1de;
$footer-color: #493381;
$color-who: #6c48ba;
$color-h1: #e3e3fc;
$color-h2: #b3aef3;
$color-projet-1: #493778;
$color-projet-2: #583c97;
$color-projet-3: #6c48ba;
$color-projet-4: #7d57d4;
$color-projet-5: #8b72e2;
$color-projet-6: #9181ec;
$color-contact: #5e42a5;

$font-stack: Arial, sans-serif;

* {
  font-family: $font-stack;
}
html {
  scroll-behavior: smooth;
}

.sidebar-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 23%;
  height: 100vh;
  background-color: #31244f;
  overflow-y: auto; // Pour permettre le défilement si le contenu dépasse
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;

  .hamburger {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
      padding: 5px;
      opacity: 0;

      a {
        color: rgba(255, 255, 255, 0.35);
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.25em;
        line-height: 1.75;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        position: relative;
        display: inline-block;
        padding: 1.35em 0;
        transition: color 0.1s ease;
        width: 100%;
        &:hover,
        &.active-link {
          color: rgba(255, 255, 255, 0.55);
        }
        // Bordure de base sous chaque lien
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0; // Pour occuper toute la largeur
          width: 100%;
          height: 2px;
          background: #3c2c62;
        }

        // Effet de remplissage de la bordure pour le lien actif et au survol
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 2px;
          background: linear-gradient(to right, #5e42a6, #b74e91);
          transition: width 0.3s;
        }

        &:hover::after,
        &.active-link::after {
          width: 100%;
        }
      }
    }
  }
}

nav .active-link {
  color: white !important;
  max-width: 100%;
}

main {
  width: 80%;
  margin-left: 23%;

  #qui-je-suis {
    background: url("../../public/images/stacked-waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;
      background-color: #31244f;
      align-self: flex-end;
      margin: 50px;
    }
    .bienvenue_item {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    h1 {
      font-family: Arial;
      font-size: 40px;
      color: $color-h1;
      padding: 0;
      margin: 0;
      font-weight: bold;
      letter-spacing: 2px;
    }
    p {
      font-family: Arial;
      font-size: 18px;
      color: $color-h2;
      padding: 0;
      margin: 0;
      font-weight: bold;
      line-height: 30px;
      letter-spacing: 1px;
    }
  }
  #projets {
    background-color: #4b4eac;
    width: 100%;
    .projet-container {
      display: flex;
      width: 100%;
      .projet-image {
        width: 30%;
        img {
          width: 100%; /* L'image prendra 50% de la largeur de la fenêtre d'affichage */
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .projet-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        h2 {
          color: $color-h2;
          font-size: 25px;
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          color: #acadd6;
          font-size: 16px;
          font-weight: 500;
        }
        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .container-projet-tech {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }
      .projet-technologies {
        display: flex;
        gap: 20px;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .btn {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        background: #e3edf7;
        padding: 0;
        border-radius: 10px;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: transform 0.5s;
        svg {
          transition: transform 0.5s;
        }
        &:hover {
          box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
            inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
            -0.5px -0.5px 0px rgba(255, 255, 255, 1),
            0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
            0px 12px 10px -10px rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.1);
          transform: translateY(0.5em);
          svg {
            transform: scale(0.9);
            fill: #333333;
          }
        }
      }
    }
    .projet-container[data-id="1"] {
      background-color: $color-projet-1;
    }
    .projet-container[data-id="2"] {
      background-color: $color-projet-2;
    }
    .projet-container[data-id="3"] {
      background-color: $color-projet-3;
    }
    .projet-container[data-id="4"] {
      background-color: $color-projet-4;
    }
    .projet-container[data-id="5"] {
      background-color: $color-projet-5;
    }
    .projet-container[data-id="6"] {
      background-color: $color-projet-6;
    }
  }
  #quest-ce-que-je-fais {
    background-color: $color-projet-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
    gap: 30px;
    .icon-box {
      background-color: $color-projet-5;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 380px;
      text-align: center;
      transition: transform 0.3s ease;
      h3 {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-h1;
        margin-bottom: 10px;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: $color-h2;
      }
      &:hover {
        transform: scale(1.05);
      }
      svg {
        font-size: 40px;
        margin-bottom: 20px;
        color: white;
      }
    }
  }
  #contactez-moi {
    font-family: Arial, sans-serif;
    background-color: #5e42a5;
    padding: 3%;
    color: $color-contact;
    .header-contact {
      padding: 20px;
      h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: white;
        letter-spacing: 2px;
      }
      h3 {
        color: #b7a9d7;
        font-size: 16px;
      }
    }

    .contact {
      display: flex;
      justify-content: space-between;

      .contact_form {
        width: 60%;
        padding: 20px;
        border-right: solid 1px $color-projet-4;
        p {
          color: white;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: 600;
        }
        label {
          display: block;
          margin-bottom: 10px;
          color: white;
          font-weight: 700;
        }
      }
      .contact_info {
        width: 40%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          display: block;
          margin-bottom: 10px;
          color: white;
        }
      }
    }
  }

  .contact_form input[type="text"],
  .contact_form input[type="email"],
  .contact_form textarea {
    width: 90%;
    padding: 15px;
    border: solid 1px #7e66b7;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #664caa;
    color: white;
  }

  .contact_form textarea {
    resize: none;
    height: 150px;
  }

  .contact_form {
    .div-btn {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 95%;
      button {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
        padding: 0.8em 1.3em 0.8em 0.9em;
        color: white;
        background: #ad5389;
        background: linear-gradient(
          to right,
          $color-projet-1,
          $color-projet-2,
          $color-projet-1
        );
        align-self: flex-end;
        border: none;
        letter-spacing: 0.05em;
        border-radius: 16px;
        gap: 5px;
        cursor: pointer;
        svg {
          margin-right: 3px;
          transform: rotate(30deg);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        span {
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
          letter-spacing: 2px;
        }
        &:hover svg {
          transform: translateX(5px) rotate(90deg);
        }
        &:hover span {
          transform: translateX(7px);
        }
      }
    }
  }

  .contact_info {
    display: flex;
    gap: 20px;
    .contact-mail {
      display: flex;
      gap: 20px;
      flex-direction: column;
      h3 {
        font-size: 20px;
      }
      a {
        color: #9884c5;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: white;
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      gap: 20px;
      div {
        display: flex;
        gap: 20px;
        a {
          .fa-linkedin {
            color: $color-h1;
            font-size: 26px;
            &:hover {
              color: #0b65c2;
            }
          }
          .fa-github {
            color: $color-h1;
            font-size: 26px;
            &:hover {
              color: #24292e;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $footer-color;
    color: #645094;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
    font-size: 14px;
  }
}
.container {
  display: flex;
  gap: 0px;
}

// Animation pour les menu du Sidebar
@keyframes fadeInBottomSide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom-side {
  animation: fadeInBottomSide 1s forwards;
}
