$main-color: #b0b1de;
$footer-color: #493381;
$color-who: #6c48ba;
$color-h1: #e3e3fc;
$color-h2: #b3aef3;
$color-projet-1: #493778;
$color-projet-2: #583c97;
$color-projet-3: #6c48ba;
$color-projet-4: #7d57d4;
$color-projet-5: #8b72e2;
$color-projet-6: #9c8eeb;
$color-contact: #5e42a5;

@media (max-width: 768px) {
  .sidebar-navigation {
    width: 100%;
    justify-content: flex-end;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    &.open {
      .hamburger {
        display: none;
      }
    }
  }

  main {
    width: 100%;
    margin-left: 0;
    #projets {
      .projet-container {
        display: flex;
        width: 100%;
        .projet-image {
          width: 80%;
        }
        .projet-details {
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    #contactez-moi {
      .contact {
        display: flex;
        flex-direction: column;
        .contact_form {
          width: 95%;
          border-bottom: solid 1px $color-projet-4;
          border-right: none;
        }
      }
    }
  }
}
