@media (max-width: 1024px) {
  .sidebar-navigation {
    position: fixed;
    width: 100%;
    height: auto;
    overflow-y: visible;
    text-align: center;
    z-index: 99;
    ul {
      display: flex;
      gap: 30px;
      li {
        margin: 0;
        padding: 0;
        opacity: 1;
      }
    }
  }
  main {
    width: 100%;
    margin: 0;
    #qui-je-suis {
      padding-top: 50px;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
      @keyframes fadeInBottomSide {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .fade-in-bottom-side {
        animation: fadeInBottomSide 1s forwards;
      }
    }
  }
}
