@media (max-width: 768px) {
  .sidebar-navigation {
    width: 100%;
    justify-content: flex-end;
    height: 40px;

    &.open {
      .hamburger {
        display: none;
      }
    }
  }

  main {
    width: 100%;
    margin-left: 0;
  }
}
